
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Website a Personal Portfolio Category Bootstrap Responsive Website Template | About :: W3layouts</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templates/my_website-starter/assets/css/style-starter.css">
</head>
<body>

    
    @Html.Action("AboutMe")
    
    @Html.Action("Welcome")
   
    @Html.Action("Statistics")
    
    @Html.Action("Subscribe")

  
    @Html.Action("Footer")
   
    <script src="assets/js/jquery-3.3.1.min.js"></script>
  >

    @Html.Action("Script")

  
</body>

</html>
<!-- // grids block 5 -->
<!--<section class="w3l-specifications-9">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-md-3">
            <div class="main-cont-wthree-fea row ">
                <div class="grids-speci1 col-lg-3 col-6">
                    <div class="spec-2 text-center">
                        <h3 class="title-spe">7242</h3>
                        <p>Hours of Works</p>
                    </div>
                </div>
                <div class="grids-speci1 midd-eff-spe col-lg-3 col-6">
                    <div class="spec-2 text-center">
                        <h3 class="title-spe">380</h3>
                        <p>Projects Done</p>
                    </div>
                </div>
                <div class="grids-speci1 las-but col-lg-3 col-6mt-lg-0 mt-4">
                    <div class="spec-2 text-center">
                        <h3 class="title-spe">220</h3>
                        <p>Satisfied Customers</p>
                    </div>
                </div>
                <div class="grids-speci1 las-t col-lg-3 col-6mt-lg-0 mt-4">
                    <div class="spec-2 text-center">
                        <h3 class="title-spe">24 </h3>
                        <p>Awards Winning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<!-- //specifications -->
<!--</section>-->
