
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("HeaderPartial")

<body>


    @Html.Action("NavbarPartial")

    

    @Html.Action("BannerPartial")

    

    @Html.Action("SkillPartial")

    @Html.Action("FeaturePartial")

    @Html.Action("ImagePartial")

    

    @Html.Action("ExperincePartial")

    @Html.Action("TestimonalPartial")

    
    @Html.Action("FooterPartial")
   
   
    @Html.Action("scriptPartial")


</body>

</html>

